<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INAddTasksIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Añade una tarea para escribir el discurso presidencial con Todomaster</string>
				<string>Recuérdame que haga el pastel en Todomaster</string>
				<string>Añade una tarea para pasear al perro en Todomaster</string>
				<string>Añadir la leche de compra a Todomaster</string>
				<string>Añadir tarea en Todomaster</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
